#color-display {
    margin-top: 20px;
}

#color-square {
    border: 1px solid #000;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff; /* Default background */
}

#rgb-display {
    margin-top: 10px;
}


